
.footer-social__wrap {
  margin-left: 70px;
  margin-right: 93px;
  text-transform: uppercase;
}

.social__item--darck {
  fill: var(--primary-white-color);
  background-color: var(--footer-icons-bg);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
