
/* Footer section styles */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--gray-bg-color);
}

/* Footer container styles */
.container__footer {
    @include displayFlex($align:baseline);
}

.footer-title{
  text-transform: uppercase;
  color: var(--primary-white-color);
}

