/* Basic inherited properties */
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.142;

    color: var(--primary-text-color);
    background-color: var(--primary-white-color);

    margin: 0;
    padding: 0;
  }

h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Styles for all titles
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
// Удалить когда по БЕМУ переделаю классы в портфолио / временный баг фикс с вплывающим описанием
.thumb {
  position: relative;
}